/venv
/__pycache__
.circleci
.github
/configs
/demo
/docker
/docs
/mmocr
/requirements
/resources
/tests
/tools
.codespellrc
.coveragerc
.owners.yml
.pre-commit-config.yaml
.pylintrc
.readthedocs.yml
CITATION.cff
/LICENSE
MANIFEST.in
.model-index.yml
README_zh-CN.md
README22.md
setup.pylintrc
setup.py
setup.cfg