{% include  "navigation_bar.html" %}
{% block body %}
{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">

<h1>Book Details</h1>

<body>
<img src="{{ image }}" alt="User Image" width="70%" height="70%" class="imagecenter">
</body>

&nbsp

<h3>Book Genre Predictions</h3>

<form action="{{ url_for('book_details') }}" method="post">

<table id = "bookDetails">
{% for key, value in book_genre_predictions.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>

<h3>Book Information Predictions</h3>

<br />

<table id = "bookDetails">
    {% for key, value in book_info_predictions.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
    {% endfor %}
</table>
