{% include  "navigation_bar.html" %}
{% block body %}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">

<title>Home Page</title>
<h1>The Book Keepers</h1>  
<h2>WELCOME to the Book Keepers Website!</h2>
<br/>
<p id="homepageParagraph"> 
    This website allows you to upload an Image of a Book Cover,
    Our model will extract the Genre, the Confidence of the prediction and filename of the image using machine learning. The Book Predictions will then be stored in a 
    database for you to access.
    The application will use OCR to extract text from the book cover and run it through Googles Books API to gather the information which will also be stored in a database
    </p>

<h2>Here is an Example</h2>

<h3>Upload a Book Cover</h3>

<img src="{{ image }}" alt="User Image" width="70%" height="70%"; height:auto; class="imagecenter">

<br />
<h3>Extract the Book Information and Genre</h3>
<br />
<br />

<div class="loader"></div>
<br />

<br />

<h3>Book Genre Predictions</h3>

<table id = "bookDetails">
    {% for key, value in exampleBookGenrePredictions.items() %}
       <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
       </tr>
    {% endfor %}

</table>

<br />

<h3>Book Information Predictions</h3>

<br />

<table id = "bookDetails">
    <thead>
       <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Publisher</th>
          <th>Book Cover Image</th>
       </tr>
    </thead>
    
    <tbody>
          <tr>
             <td>{{ exampleBookInfoPredictions.Title }}</td>
             <td>{{ exampleBookInfoPredictions.Author }}</td>
             <td>{{ exampleBookInfoPredictions.Genre }}</td>
             <td>{{ exampleBookInfoPredictions.Publisher }}</td>
             <td align="center" > 
                <a href="{{exampleBookInfoPredictions.InfoLink}}" target="_blank">
                <img src="static/{{ exampleBookInfoPredictions.FileName }}" height=50%%% width=50%% alt=""/>
                </a>
             </td>
          </tr>
    </tbody>
 </table>